@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gluten:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Rubik+Iso&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&family=Tilt+Prism&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.nav-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FE0000;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 5px grey; }

nav .logo {
  font-weight: 700; }

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem; }

nav a {
  text-decoration: none;
  color: white; }

nav #toggle, nav label {
  display: none; }

@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem 0; }
  nav label {
    display: flex;
    color: white;
    cursor: pointer; }
  nav #toggle {
    height: 1%;
    width: 1%; }
  nav #toggle:checked ~ .menu {
    height: 100%; } }

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #FE0000;
  color: blueviolet;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 25px; }

main section img {
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 10rem;
  transition: height 1s;
  transition: width 1s; }
  main section img:hover {
    height: 27rem;
    width: 27rem;
    border-radius: 0; }

p {
  overflow: hidden;
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  padding: 1rem; }

body main h1 {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  align-items: center;
  color: black;
  font-family: 'Sedgwick Ave Display', cursive; }

body main h2 {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  align-items: center;
  color: black;
  font-family: 'Sedgwick Ave Display', cursive; }

.valorant:hover {
  cursor: cell; }

.lol:hover {
  cursor: pointer; }

.Fnaf:hover {
  cursor: default; }

.resident-evil:hover {
  cursor: crosshair; }

main iframe {
  padding: 1rem; }

@media (min-width: 1024px) {
  .lol {
    display: grid;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "lol1 lol1  loltrailer loltrailer" "lol1 lol1 loltrailer loltrailer" "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo" "parrafo parrafo parrafo parrafo"; }
  .lol1 {
    grid-area: lol1; }
  .loltrailer {
    grid-area: loltrailer; }
  .lol p {
    grid-area: parrafo;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem; }
  .arcane {
    display: grid;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "arcane1 arcane1 arcanetrailer arcanetrailer " "arcane1 arcane1 arcanetrailer arcanetrailer " "parrafo parrafo parrafo parrafo  " "parrafo parrafo parrafo parrafo  " "parrafo parrafo parrafo parrafo  "; }
  .arcane1 {
    grid-area: arcane1; }
  .arcanetrailer {
    grid-area: arcanetrailer; }
  .arcane p {
    grid-area: parrafo;
    box-sizing: border-box 100% 50rem;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem; }
  .RE p {
    box-sizing: border-box 100% 50rem; }
  .valorant {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "valorant valorant valoranttrailer valoranttrailer" "parrafo parrafo parrafo parrafo" "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo"; }
  .valorant1 {
    grid-area: valorant;
    padding-bottom: 2rem; }
  .valoranttrailer {
    grid-area: valoranttrailer; }
  .valorant p {
    grid-area: parrafo;
    font-size: 2rem;
    box-sizing: border-box 100% 50rem; }
  .RES1 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re1 {
    grid-area: re; }
  .retrailer1 {
    grid-area: retrailer; }
  .RES1 p {
    grid-area: parrafo;
    font-size: 2rem; }
  .RES2 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re2 {
    grid-area: re; }
  .retrailer2 {
    grid-area: retrailer; }
  .RES2 p {
    grid-area: parrafo;
    font-size: 2rem; }
  .RES3 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo  " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re3 {
    grid-area: re; }
  .retrailer3 {
    grid-area: retrailer; }
  .RES3 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .RES4 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re4 {
    grid-area: re; }
  .re4 img {
    width: 100%;
    height: 75%; }
  .retrailer {
    grid-area: retrailer; }
  .RES4 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .RES5 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re5 {
    grid-area: re; }
  .retrailer5 {
    grid-area: retrailer; }
  .RES5 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .RES6 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re6 {
    grid-area: re; }
  .retrailer6 {
    grid-area: retrailer; }
  .RES6 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .RES7 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re7 {
    grid-area: re; }
  .retrailer7 {
    grid-area: retrailer; }
  .RES7 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .RES8 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "re re retrailer retrailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .re8 {
    grid-area: re; }
  .retrailer8 {
    grid-area: retrailer; }
  .RES8 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .Fnaf p {
    box-sizing: border-box 100% 30rem;
    font-size: 2rem; }
  .pelifnaf p {
    box-sizing: border-box 100% 30rem;
    font-size: 2rem; }
  #fnaf1 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf1 {
    grid-area: fnaf; }
  .trailerfnaf1 {
    grid-area: trailer; }
  #fnaf1 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf2 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf2 {
    grid-area: fnaf; }
  .trailerfnaf2 {
    grid-area: trailer; }
  #fnaf2 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf3 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf3 {
    grid-area: fnaf; }
  .trailerfnaf3 {
    grid-area: trailer; }
  #fnaf3 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf4 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf4 {
    grid-area: fnaf; }
  .trailerfnaf4 {
    grid-area: trailer; }
  #fnaf4 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf5 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf5 {
    grid-area: fnaf; }
  .trailerfnaf5 {
    grid-area: trailer; }
  #fnaf5 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf6 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf6 {
    grid-area: fnaf; }
  .trailerfnaf6 {
    grid-area: trailer; }
  #fnaf6 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf7 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf7 {
    grid-area: fnaf; }
  .trailerfnaf7 {
    grid-area: trailer; }
  #fnaf7 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf8 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf8 {
    grid-area: fnaf; }
  .trailerfnaf8 {
    grid-area: trailer; }
  #fnaf8 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf9 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf9 {
    grid-area: fnaf; }
  .trailerfnaf9 {
    grid-area: trailer; }
  #fnaf9 p {
    grid-area: parrafo;
    font-size: 3rem; }
  #fnaf10 {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnaf10 {
    grid-area: fnaf; }
  .trailerfnaf10 {
    grid-area: trailer; }
  #fnaf10 p {
    grid-area: parrafo;
    font-size: 3rem; }
  .pelifnaf {
    display: grid;
    height: 100%;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(4, 25% fr);
    grid-template-rows: repeat(4, 25% fr);
    grid-template-areas: "fnaf fnaf trailer trailer " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo " "parrafo parrafo parrafo parrafo "; }
  .fnafpeli {
    grid-area: fnaf; }
  .fnafpelitrailer {
    grid-area: trailer; }
  .pelifnaf p {
    grid-area: parrafo;
    font-size: 3rem; } }

@media (max-width: 425px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 0; }
    main section img {
      width: 20rem;
      height: 20rem;
      border-radius: none; }
    main header {
      align-content: center;
      justify-content: center;
      overflow: hidden; }
    main #carouselExampleFade {
      height: 30rem; }
      main #carouselExampleFade img {
        height: 30rem; }
    main footer {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center; }
    main iframe {
      width: 100%;
      height: 30rem; } }

.pregunta input {
  width: 100%;
  border: none;
  height: 2rem; }

.contactos {
  display: flex;
  flex-direction: column;
  border: none; }
