main section img{
    width: 25rem;
    height: 25rem;  
    padding: 1rem;border-radius: 10rem;
    transition: height 1s;
    transition: width 1s;
    &:hover{height: 27rem;
    width: 27rem;
    border-radius: 0;
}
}