    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gluten:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Rubik+Iso&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&family=Tilt+Prism&display=swap');

p{overflow: hidden;
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    padding: 1rem;
    
}