body main{h1{
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    align-items: center;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
}
h2{    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    align-items: center;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
}}